#cart-body {
    margin: 0;
    background-color: #F2F2F2;
}

#cart-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "title title title"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
        "section section aside"
    ;
}

#cart-title {
    grid-area: title;
    padding:10px;
    margin-bottom: 0;
}

#cart-title>h1{
    text-align: center;
    margin:0;
    color: #4A5FD9;
    font-weight: bold;
    margin-top:30px;
    margin-bottom: 30px;
    font-size:50px;
}

#cart-list {
    grid-area: section;
    margin-left:10px;
    margin-top: 0;
    margin-bottom:20px;
}

#cart-list>h2{
    color: #4A5FD9;
}

.cart-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "figure title div1 div2"
        "figure title div1 div2"
    ;
    border-left: 3px solid #4A5FD9;
    border-right: 3px solid #4A5FD9;
    border-bottom: 1px solid #4A5FD9;
    padding: 0;
}

h2+.cart-div{
    border-top: 3px solid #4A5FD9;
}

#cart-list .cart-div:last-child{
    border-bottom:3px solid #4A5FD9;
}

.cart-div>figure {
    padding: 0;
    grid-area: figure;
    /* border: 2px solid blue; */
    margin-right: 0;
    margin-left:10px;
}

.cart-img {
    width: 200px;
    height: 200px;
    margin: 0;
    border: 0.1px solid #000;
}

.cart-product_name {
    grid-area: title;
    text-align: left;
    margin-left: 10px;
    /* border: 2px solid blue; */
    color: #1E2759;
}

.cart-divradiobutton {
    grid-area: div1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    margin-left: 10px;
    padding-top: 10px;
    /* border: 2px solid blue; */
    padding-left: 5px;
}


.cart-divradiobutton h4 {
    margin-bottom: 0;
    font-size: 18px;
    color: #1E2759;
    margin-left:5px;
    padding-bottom: 0;
    margin-top:12px ;
}

.cart-divradiobutton label{
    margin:0;
    color:#0d0d0d;
}

.cart-divradiobutton input[type="radio"] {
    accent-color: #1E2759;
}


.cart-select-button {
    grid-area: div2;
    padding: 10px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
    width: 120px;
}

.cart-select {
    width: 40px;
    text-align: center;
    background-color: #7E8FF2;
    color:#0d0d0d;
    border:1px solid #0d0d0d;
    border-radius: 2px;
}

.cart-select>option{
    border:2px solid #0d0d0d;
}

.cart-select-button>label {
    color:#1E2759
}

.cart-select-button>button {
    padding: 0;
    height: 30px;
    width: 30px;
    border:1px solid #0d0d0d;
    border-radius:1px;
}


.cart-delete {
    background-color: #1E2759;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}

#cart-aside {
    grid-area: aside;
    margin-top: 69px;
    margin-left: 20px;
    border: 3px solid #1E2759;
    background-color: #7E8FF2;
    width:400px;
}

#cart-aside>h2{
  text-align: center;
}

#cart-aside td{
   border:2px solid #000
}

#cart-aside tr{
    border:2px solid #000
 }

 .cart-izq{
    width:40%;
 }

 .cart-der{
    text-align: right;
 }